@model IEnumerable<TE_CodeFirst.Models.Trainee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TraineeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeDOJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeDOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeMobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TraineeEmail)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeDOJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeDOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeEmail)
            </td>
             
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TraineeID"><i class="fa-solid fa-pen-to-square"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.TraineeID"><i class="fa-sharp fa-solid fa-circle-info"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.TraineeID"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
